@model Dochazka.Models.AttendanceRecord

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit work day</h1>

@*<h4>@Model.WorkDay.ToString("d", CultureInfo.CurrentCulture)</h4>
    <h4>@Html.DisplayFor(model => model.WorkDay)</h4>*@
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerApprovalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManagerApprovalStatus)
        </dd>
    </dl>    
</div>
<hr />
<div class="col-md-4">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="WorkDay" />
        <input type="hidden" asp-for="EmployeeId" />
        <input type="hidden" asp-for="ManagerApprovalStatus" />
        <div class="form-group">
            <label asp-for="MorningAttendance" class="control-label"></label>
            <select asp-for="MorningAttendance" class="form-control" asp-items="ViewBag.MorningAttendance"></select>
            <span asp-validation-for="MorningAttendance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AfternoonAttendance" class="control-label"></label>
            <select asp-for="AfternoonAttendance" class="form-control" asp-items="ViewBag.AfternoonAttendance"></select>
            <span asp-validation-for="AfternoonAttendance" class="text-danger"></span>
        </div>
        @*<div class="form-group">
                <label asp-for="ManagerApprovalStatus" class="control-label"></label>
                <select asp-for="ManagerApprovalStatus" class="form-control"></select>
                <span asp-validation-for="ManagerApprovalStatus" class="text-danger"></span>
            </div>*@
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
