@model IEnumerable<Dochazka.Models.PresenceRecordV2>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create a new presence record</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MorningPresence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AfternoonPresence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerApprovalStatus)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MorningPresence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AfternoonPresence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerApprovalStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.EmployeeId, item.WorkDay }) |
                @Html.ActionLink("Details", "Details", new { item.EmployeeId, item.WorkDay }) |
                @Html.ActionLink("Delete", "Delete", new { item.EmployeeId, item.WorkDay }) 
            </td>
        </tr>
}
    </tbody>
</table>
