@model Dochazka.Models.TeamModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PrimaryManager)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PrimaryManager.FullName)
        </dd>
        <dt class="col-sm-3">
            @Dochazka.Data.CommonConstants.TeamManagerUserName
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PrimaryManager.UserName)
        </dd>
    </dl>
</div>
<hr />
<h4>Team members</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryManager.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryManager.UserName)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teamMember in ViewBag.teamMembers)
        {
        <tr>
            <td>
                @teamMember.FullName
            </td>
            <td>
                @teamMember.UserName
            </td>
        </tr>
        }
    </tbody>
</table>

<div>    
    <a asp-action="Index">Back to List</a>
</div>
